<div class="center hero-unit">
<br>
  <h1>Welcome to the Sample App</h1>

  <h2 class="hometext">This is the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
  </h2>
  <%= link_to "sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Ruby_on_Rails_logo.svg/1200px-Ruby_on_Rails_logo.svg.png", height: '64' ,alt: "Rails"), '#' %>